.code-flow {
  @apply h-screen overflow-hidden absolute inset-0 z-[-100];
  background: $background-dark;

  &__content {
    @apply select-none leading-[1.5] overflow-hidden;
    transform: translateY(0); // This will be updated by JS
  }

  &__line {
    font-family: $hero-banner;
    color: $green-dark;
  }

  &__fps-display {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: $green;
    padding: 2px;
    z-index: 1;
  }
  
}
