.code-flow {
  @apply h-screen overflow-hidden absolute inset-0 z-[-100];
  background: $background-dark;

  &__content {
    @apply select-none animate-flow leading-[1.5] overflow-hidden;
  }

  &__line {
    font-family: $hero-banner;
    color: $green-dark;
  }
}

@keyframes flow {
  0% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0);
  }
}

@layer utilities {
  @variants responsive {
    .animate-flow {
      animation: flow 4000s linear infinite;

      @media only screen and (min-width: 768px) {
        animation: flow 1000s linear infinite;
      }
    }
  }
}
