.mobile-header {
  @apply z-[100] w-full sticky top-0 flex items-center justify-between px-4 py-4 lg:hidden;
  background: $background-dark;
  color: $text-dark;

  &__menu {
    @apply flex-shrink-0;

    &__drop-down {
      @apply absolute left-0 right-0 top-full transition-[max-height] duration-500 ease-in-out overflow-hidden;
      background: $background-dark;

      &__item {
        @apply p-4 flex-none text-center;
      }
    }
  }

  &__logo {
    @apply absolute left-1/2 transform -translate-x-1/2;
  }

  &__language-selector {
    @apply flex-shrink-0;
  }
}
