.ui-button {
  @apply border-2 rounded-lg p-4 px-8;
  border-color: $green;

  &__primary {
    color: $text-dark !important;
    background: $green;
  }

  /*
  &__secondary {
    
  }
  */

  &__inline {
    @apply p-0 border-none;

    &:hover {
      background: transparent !important;
      color: $green !important;
    }
  }

  &--light {
    color: $text-light
  }

  &--dark {
    color: $text-dark
  }

  &--wide {
    @apply w-[90%] !important;
  }

  &:hover {
    color: $text-dark;
    background: $green;
  }
}
