/* src/index.css or src/App.css */
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;700&display=swap');


body {
  margin: 0;
}

.title-wrapper {
    text-align: center;
    padding-top: 45vh;
    font-family: "Chakra Petch", sans-serif;

    h1, h2 {
        margin: 0;
        color: white;
    }
}